html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header {
    height: 40px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 24px;
    border-bottom: 4px solid #ffa500;
    background-color: rgba(33,33,33,0.5);
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#file {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    padding: 2em;
    box-sizing: border-box;
}

#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.logo {
    max-height: 32px;
    float: left;
    margin-right: 5px;
}

.header-text {
    float: left;
}

#format-actions {
    width: 200px;
    margin-right: 400px;
}

::selection {
    background: transparent; /* WebKit/Blink Browsers */
  }

#file span.edit-mode {
    background-color: #ffa500;
}
#file span:hover {
    background-color: beige;
}

button.active {
    background-color: #ade1ad;
    border-color: #ade1ad;
}

#synonims {
    position: fixed;
    top: 350px;
    right: 50px;
    background-color: #ddd;
    box-shadow: 0 0 4px 2px rgba(101, 101, 101, 0.5215686274509804);
    border-radius: 4px;
    padding: 1em;
    max-width: 400px;
    display: none; 
}

#synonims div {
    display: flex;
    flex-wrap: wrap;
}

#synonims span {
    margin-right: 4px;

}

#synonims span:hover {
    cursor: pointer;
    background-color: antiquewhite; 
}